.cupcake{
    color: blue;
    font-size: 100px;
    background-color: black;
    border: 15px solid blue;


}

.welcome{
    text-align: center;
}

.boli{
    color: crimson;
    background-color: darkgreen;
    text-align: center;

}